.Post {
  margin-bottom: 1.5em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
}

.Post > form {
  padding: 1em;
}

.Post-section {
  padding: 1em;
}

.Post-section:not(:last-child) {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

i:hover {
  cursor: pointer;
}

.fas {
  margin-left: 0.25em;
}
