.Post {
  margin-bottom: 1.5em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  padding: 1em;
}

.Post-info {
  display: flex;
  justify-content: space-between;
}

i:hover {
  cursor: pointer;
}

.fa-thumbs-up {
  color: #00d914;
}

.fa-thumbs-down {
  color: #d30037;
}
