.Sardines {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Sardines .message {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
}

.Sardines .message h1 {
  text-align: center;
  color: white;
}
